@model UnifiedApiWebClient.Models.OfficeUser

<div class="row">

  <h2>User Properties</h2>
  
  <div>
    @Html.ActionLink("Back to Users", "Users")
  </div>

  <h4>Active Directory Object Info:</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>User Principal Name</td>
      <td>@Model.userPrincipalName</td>
    </tr>
    <tr>
      <td>Object Id</td>
      <td>@Model.objectId</td>
    </tr>
    <tr>
      <td>Object Type</td>
      <td>@Model.objectType</td>
    </tr>
    <tr>
      <td>User Type</td>
      <td>@Model.userType</td>
    </tr>
    <tr>
      <td>Preferred Language</td>
      <td>@Model.preferredLanguage</td>
    </tr>
    <tr>
      <td>Usage Location</td>
      <td>@Model.usageLocation</td>
    </tr>
  </table>

  <h4>Office 365 User Info:</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Display Name</td>
      <td>@Model.displayName</td>
    </tr>
    <tr>
      <td>Telephone Number</td>
      <td>@Model.telephoneNumber</td>
    </tr>
    <tr>
      <td>Mail</td>
      <td>@Model.mail</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>@Model.department</td>
    </tr>
    <tr>
      <td>Job Title</td>
      <td>@Model.jobTitle</td>
    </tr>
  </table>

  <h4>User Details</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Given Name</td>
      <td>@Model.givenName</td>
    </tr>
    <tr>
      <td>Surname</td>
      <td>@Model.surname</td>
    </tr>
    <tr>
      <td>Street Address</td>
      <td>@Model.streetAddress</td>
    </tr>
    <tr>
      <td>City</td>
      <td>@Model.city</td>
    </tr>
    <tr>
      <td>State</td>
      <td>@Model.state</td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td>@Model.postalCode</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>@Model.country</td>
    </tr>
  </table>

</div>
