@model UnifiedApiWebClient.Models.OfficeTenant
@using System.Linq


<div class="row">

  <h2>Current Tenant Details</h2>

  <h4>Active Directory Information:</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Object ID</td>
      <td>@Model.objectId</td>
    </tr>
    <tr>
    <tr>
      <td>Object Type</td>
      <td>@Model.objectType</td>
    </tr>
  </table>

  <h4>Company Information:</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <td>Display Name</td>
      <td>@Model.displayName</td>
    </tr>
    <tr>
      <td>City</td>
      <td>@Model.city</td>
    </tr>
    <tr>
      <td>State</td>
      <td>@Model.state</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>@Model.country</td>
    </tr>
    <tr>
      <td>preferred Language</td>
      <td>@Model.preferredLanguage-@Model.countryLetterCode</td>
    </tr>
  </table>

  <h4>Verified Domains:</h4>
  <table class="table table-bordered table-striped">
    @foreach (var domain in Model.verifiedDomains) {
      <tr><td>@domain.name</td></tr>
    }
  </table>

  <h4>Provisioned Plans:</h4>
  <table class="table table-bordered table-striped">
    <thead><tr><th>Service</th><th>Capability Status</th></tr></thead>
    <tbody>
      @foreach (var plan in Model.provisionedPlans) {
        <tr><td>@plan.service</td><td>(@plan.capabilityStatus)</td></tr>
      }
    </tbody>
  </table>

</div>
