@model IEnumerable<UnifiedApiWebClient.Models.OfficeUser>

<div class="row">

  <h4>Users</h4>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width:300px;">Object ID</th>
        <th>Display Name</th>
        <th>Given Name</th>
        <th>Surname</th>
        <th>User Principal Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var user in Model) {
        <tr>
          <td>@user.objectId</td>
          <td>@user.displayName</td>
          <td>@user.givenName</td>
          <td>@user.surname</td>          
          <td>@user.userPrincipalName</td>     
          <td>@Html.ActionLink("View User", "DisplayUser", new { id=user.objectId })</td>
        </tr>
      }
    </tbody>
  </table>
</div>
