@model MicrosoftGraphMvcClient.Models.Office365User

<div class="row">

    <h3>Current User</h3>
    <h4>Active Directory User Accout Info:</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Given Name</td>
            <td>@Model.givenName</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>@Model.surname</td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td>@Model.displayName</td>
        </tr>
        <tr>
            <td>User Principal Name</td>
            <td>@Model.userPrincipalName</td>
        </tr>
        <tr>
            <td>Account Id</td>
            <td>@Model.id</td>
        </tr>
        <tr>
            <td>Preferred Language</td>
            <td>@Model.preferredLanguage</td>
        </tr>
        <tr>
            <td>Office Location</td>
            <td>@Model.officeLocation</td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>@Model.mobilePhone</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>@Model.mail</td>
        </tr>
        <tr>
            <td>Job Title</td>
            <td>@Model.jobTitle</td>
        </tr>
    </table>

</div>
