@using UnifiedApiWebClient.Models
<div class="row">

  <h2>Office 365 Unified API REST Endpoints</h2>

  <h4>Core Url for the Office 365 Unified API</h4>
  <table class="table table-bordered table-striped">
    <tr><td>Unified API Resource</td><td>@UnifiedApiManager.urlUnifiedApiResource</td></tr>
    <tr><td>Unified API Root</td><td>@UnifiedApiManager.urlUnifiedApiRoot</td></tr>
  </table>

  <h4>Urls for Current Users</h4>
  <table class="table table-bordered table-striped">
    <tr><td>Current User</td><td>@UnifiedApiManager.urlCurrentUser</td></tr>
    <tr><td>Calendar</td><td>@UnifiedApiManager.urlCurrentUserCalendar</td></tr>
    <tr><td>Messages</td><td>@UnifiedApiManager.urlCurrentUserMessages</td></tr>
    <tr><td>Events</td><td>@UnifiedApiManager.urlCurrentUserEvents</td></tr>
    <tr><td>Files</td><td>@UnifiedApiManager.urlCurrentUserFiles</td></tr>
    <tr><td>User Photo</td><td>@UnifiedApiManager.urlCurrentUserPhoto</td></tr>
    <tr><td>Manager</td><td>@UnifiedApiManager.urlCurrentUserManager</td></tr>
    <tr><td>Direct Reports</td><td>@UnifiedApiManager.urlCurrentUserDirectReports</td></tr>
    <tr><td>Member Of</td><td>@UnifiedApiManager.urlCurrentUserMemberOf</td></tr>
    <tr><td>Trending Around</td><td>@UnifiedApiManager.urlCurrentUserTrendingAround</td></tr>
    <tr><td>Working With</td><td>@UnifiedApiManager.urlCurrentUserWorkingWith</td></tr>
  </table>

  <h4>Urls for Current User's Tenancy</h4>
  <table class="table table-bordered table-striped">
    <tr><td>Current Tenant</td><td>@UnifiedApiManager.urlCurrentTenant</td></tr>
    <tr><td>Tenant Details</td><td>@UnifiedApiManager.urlTenantDetails</td></tr>
    <tr><td>Users</td><td>@UnifiedApiManager.urlUsers</td></tr>
    <tr><td>Groups</td><td>@UnifiedApiManager.urlGroups</td></tr>
    <tr><td>Contacts</td><td>@UnifiedApiManager.urlContacts</td></tr>
    <tr><td>Applications</td><td>@UnifiedApiManager.urlApplications</td></tr>
    <tr><td>Permissions</td><td>@UnifiedApiManager.urlPermissions</td></tr>
    <tr><td>Service Principals</td><td>@UnifiedApiManager.urlServicePrincipals</td></tr>
    <tr><td>Device Configuration</td><td>@UnifiedApiManager.urlDeviceConfiguration</td></tr>
    <tr><td>Devices</td><td>@UnifiedApiManager.urlDevices</td></tr>
  </table>

</div>
