@model ProductManagerMVC.Models.HomePageModel

<div class="row">
    <div class="jumbotron">
        <h2>@Model.welcomeMessage</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.topic1Title</div>
            <div class="panel-body">@Model.topic1Copy</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.topic2Title</div>
            <div class="panel-body">@Model.topic2Copy</div>
        </div>
    </div>
</div>
